body {
    background-color: black;
}

.result-row {
    text-align: center;
}

#result {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    border: none;
    z-index: 10;
}

.numbers {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.grid-container {
    background-color: #000;
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    max-width: 500px;
    margin: auto;
}

.grid-item {
    font-size: 30px;
    text-align: center;
}

.grid-container input {
    border-radius: 50%;
    width: 80%;
    padding: 29% 0;
    min-width: 60px;
    min-height: 60px;
    margin: 10% 0;
    font-size: 1.5rem;
    color: #fff;
    background-color: #333;
    border: none;
}

input.orange {
    background-color: orange;
}

input.light {
    background-color: #bbb;
    color: black;
}
